In [1]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_svmlight_file

In [11]:
data = load_svmlight_file("data/train.txt")
X_train = data[0].todense()
y_train = data[1]
data = load_svmlight_file("data/test.txt")
X_test = data[0].todense()
X_train_df = pd.DataFrame(X_train)
y_train_df = pd.DataFrame(y_train)
X_test_df = pd.DataFrame(X_test)

In [12]:
y_train_df.columns = ['label']
dataset = X_train_df.assign(label=y_train_df.label.values)

In [13]:
dataset.head()

,0,1,2,3,4,5,6,7,8,9,...,192,193,194,195,196,197,198,199,200,label
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,0.0,0.0,13.0,17.0,26.0,11.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3.0,5.0,3.0,1.0,0.0,1.0,6.0,3.0,2.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,40.0,59.0,42.0,33.0,37.0,39.0,39.0,47.0,37.0,38.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
X_train_df.head()

,0,1,2,3,4,5,6,7,8,9,...,191,192,193,194,195,196,197,198,199,200
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,13.0,17.0,26.0,11.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3.0,5.0,3.0,1.0,0.0,1.0,6.0,3.0,2.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,40.0,59.0,42.0,33.0,37.0,39.0,39.0,47.0,37.0,38.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
y_train_df.head()

   label
0    1.0
1    1.0
2    0.0
3    0.0
4    0.0

In [16]:
dataset.to_csv('data/dataset.csv', header=False)

In [17]:
sample_dataset = dataset.sample(n=350000)

In [18]:
sample_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 350000 entries, 84666 to 50197
Columns: 202 entries, 0 to label
dtypes: float64(202)
memory usage: 542.1 MB

In [21]:
sample_dataset.head()

,0,1,2,3,4,5,6,7,8,9,...,192,193,194,195,196,197,198,199,200,label
84666,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1671518,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
995713,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1254172,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
206980,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [23]:
sample_dataset.reset_index(drop=True).to_pickle('data/sample_dataset35.pickle')

In [2]:
dataset35 = pd.read_pickle('data/sample_dataset35.pickle')

In [3]:
dataset1 = dataset35.sample(n=1000).reset_index(drop=True)

In [5]:
dataset1.to_pickle('data/sample_dataset01.pickle')

In [8]:
from multiprocessing import Pool
import os, time, random

def long_time_task(name):
    print('Run task %s (%s)...' % (name, os.getpid()))
    start = time.time()
    time.sleep(random.random() * 3)
    end = time.time()
    print('Task %s runs %0.2f seconds.' % (name, (end - start)))

print('Parent process %s.' % os.getpid())
p = Pool(2)
for i in range(10):
    p.apply_async(long_time_task, args=(i,))
print('Waiting for all subprocesses done...')
p.close()
p.join()
print('All subprocesses done.')

Parent process 43129.
Run task 0 (57756)...
Run task 1 (57757)...
Waiting for all subprocesses done...
Task 1 runs 0.76 seconds.
Run task 2 (57757)...
Task 0 runs 2.73 seconds.
Run task 3 (57756)...
Task 2 runs 2.81 seconds.
Run task 4 (57757)...
Task 3 runs 1.00 seconds.
Run task 5 (57756)...
Task 5 runs 2.55 seconds.
Task 4 runs 2.71 seconds.
Run task 7 (57757)...
Run task 6 (57756)...
Task 6 runs 1.05 seconds.
Run task 8 (57756)...
Task 7 runs 2.90 seconds.
Run task 9 (57757)...
Task 8 runs 2.02 seconds.
Task 9 runs 2.83 seconds.
All subprocesses done.